.header {
  background: $red;
  background: linear-gradient(162deg, $red 0%, $dark-blue 35%, $light-red 85%);
  border-bottom: $dark-blue solid 3px;
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $m-size 0;
}

.header__title {
  color: $off-white;
  text-decoration: none;
  h1 {
    margin: 0;
  }
}
